---
import { getEntry } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import WidgetLink from "@components/widget/Link.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const linksPost = await getEntry("spec", "links");
const { Content } = await linksPost.render();

const links: { title: string; link: string; desc: string; img: string }[] = [
	{
		link: "https://blog.moeworld.tech/",
		title: "晓空blog – 空域",
		img: "https://img.cdn.loliloli.net/content/images/users/V3Q/av_1625277536.png",
		desc: "探索更大的世界",
	},
	{
		link: "https://ivampiresp.com",
		title: "iVampireSPの物語",
		img: "https://cravatar.cn/avatar/9116fc3de8f9a46668beb1a6b7dbcbcd?s=512&amp;d=mm&amp;r=g",
		desc: "用初次相遇与你定下这份永恒的誓约。",
	},
	{
		link: "https://moe.tips",
		title: "萌 (//∇//) 贴士",
		img: "https://img.cdn.18g.me/2022/02/19/d8d559274a2f6.jpg",
		desc: "介绍愿你把酒执剑，归来仍是少年",
	},
	{
		link: "https://kokodayo.site/",
		title: "巴别图书馆",
		img: "https://kokodayo.site/usr/uploads/fixed/head_640.jpg",
		desc: "Qine的个人小站",
	},
	{
		link: "https://blog.awsl.love/",
		title: "悲催の记事账簿",
		img: "https://blog.awsl.love/logo2.webp",
		desc: "– 水能载舟，亦能覆舟 –",
	},
	{
		link: "https://www.moec.top",
		title: "老兄de博客",
		img: "https://www.moec.top/wp-content/uploads/2021/01/photo_2020-04-05_08-52-40.jpg",
		desc: "杂七杂八的分享~",
	},
	{
		link: "https://jixiejidiguan.top/",
		title: "JIXIEJIDIGUAN",
		img: "http://q1.qlogo.cn/g?b=qq&amp;nk=3549518275&amp;s=640",
		desc: "默默无闻",
	},
	{
		link: "https://blog.iamsjy.com/",
		title: "Tony’s Blog",
		img: "https://iamsjy.oss-cn-shanghai.aliyuncs.com/icon.jpg",
		desc: "我见青山多妩媚,料青山见我应如是。",
	},
	{
		link: "https://www.baiduniang.com/",
		title: "摆渡娘",
		img: "https://www.baiduniang.com/wp-content/uploads/2021/08/v2-7d019ee242e42d9acee0bc709277728b_xll.jpg",
		desc: "摆渡博客",
	},
	{
		link: "https://www.bcmonomial.xyz/",
		title: "单项式的笔记本",
		img: "https://q1.qlogo.cn/g?b=qq&amp;s=640&amp;nk=3176459211",
		desc: "你想在这里看到什么呢？",
	},
	{
		link: "https://dioxide-cn.ink",
		title: "Dioxide.CNの时间轴",
		img: "https://s1.ax1x.com/2022/04/21/LyjYZ9.jpg",
		desc: "茶边话旧，看几许星迢露冕，从淮海南来。",
	},
	{
		link: "https://imfurry.com",
		title: "中二病晚期の物語",
		img: "https://imfurry.com/images/zebwq-furry.jpg",
		desc: "一只狐狸敲出的一个奇迹",
	},
	{
		link: "https://blognas.hwb0307.com",
		title: "浮云翩迁之间",
		img: "https://blognas.hwb0307.com/logo.jpg",
		desc: "百代繁华一朝都，谁非过客；千秋明月吹角寒，花是主人。",
	},
	{
		link: "https://blog.hikki.site/",
		title: "小码博客",
		img: "https://bu.dusays.com/2022/11/04/636511250b21b.jpg",
		desc: "喜欢的东西就努力去追求，万一成功了呢！",
	},
	{
		link: "https://www.frostfox.cn",
		title: "霜狐的科技屋",
		img: "https://www.frostfox.cn/logo.png",
		desc: "让科技服务与人类！",
	},
	{
		link: "https://irr.ink/",
		title: "不可方思",
		img: "https://irr.ink/logo.jpg",
		desc: "Like tears in rain.",
	},
	{
		link: "https://www.yhdzz.cn/",
		title: "小满の窝",
		img: "https://doge.cdn.yhdzz.cn/xiaoman1221s-blog-bead.jpg",
		desc: "天上如是，地下亦然",
	},
	{
		link: "https://www.casecori.top/",
		title: "CasecoRI",
		img: "https://cdn.casecori.top/gh/cystee/om/favicon.png",
		desc: "高智熵博主",
	},
	{
		link: "https://www.limingliang.top",
		title: "Eucalyptus",
		img: "http://limingliang.top/wp-content/uploads/2023/07/lanan.png",
		desc: "我亦无他，惟手熟尔",
	},
	{
		link: "https://arthals.ink/",
		title: "尘埃舞流萤",
		img: "https://cdn.arthals.ink/Arthals.png",
		desc: "写代码的医学牲",
	},
	{
		link: "https://wuminboke.site/",
		title: "无名博客",
		img: "https://wuminboke.site/avatar.jpg",
		desc: "一个无聊的人罢了~",
	},
];
---
<MainGridLayout title="links" description="友情链接">
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                { links.map((link)=>{
                    return <WidgetLink {...link} />
                }) }
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>