---
import { profileConfig } from "../config";

const days = new Date().getTime() - new Date("2020/08/08").getTime();
const numberOfDays = (days / (1000 * 60 * 60 * 24)).toFixed();
---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6 py-4">
    <div class="transition text-50 text-sm">
        本站的所有文章、界面（有另外声明的除外）均在
        <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans">
            署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0)
        </a>
        许可协议下提供。
        <br>
        如果您需要转载上述内容，请附带来源（Magma Ink、@岩浆块Magma 或 原文链接），并且不可将其使用于商业用途。
        <br>
        © 2020-2024 {profileConfig.name}. 本站已运行 {numberOfDays} 天。
        <br>
        <br>
        Powered by <a class="link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
        <br>
        <a class="link text-[var(--primary)] font-medium" href="https://beian.miit.gov.cn/" target="_blank">
            豫ICP备2021021978号-2
        </a>
        ·
        <a
            class="link text-[var(--primary)] font-medium"
            target="_blank"
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41071102000548"
        >
            <span>豫公网安备41071102000548号</span>
        </a>
    </div>
</div>
